<div class="recipe-card">
    <div class="image-container">
        <img appImgBroken [customImg]="'assets/morron-azul.png'" [src]="recipe.imagePath" alt="Imagen de receta" />
        <button class="favorite-btn" (click)="toggleFavorite($event)" appHeartAnimate>
        <img 
            [src]="isFav ? 'assets/icons/heart_filled.png' : 'assets/icons/heart_outline.png'" 
            alt="Favorito" 
        />
        </button>
    </div>
    <h3>{{ recipe.name }}</h3>
    <p>{{ recipe.description }}</p>
    <div class="recipe-content">
      <a [routerLink]="['/recipe', recipe._id]" class="view-button">Ver receta</a>
    </div>
</div>