.recipe-detail {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--card-bakckground-color);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}
  
.action-button {
  background-color: #e67e22;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
}
  
.action-button:hover {
  background-color: #cf711f;
} 
  
.form-control {
  width: 100%;
  padding: 8px;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}
  
.ingredient-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
}
  
.small {
  flex: 2;
}
.tiny {
  flex: 1;
}
  
.buttons-row {
  margin-top: 1.5rem;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
  
.top-action {
  background-color: #f39c12;
}
  
.top-action:hover {
  background-color: #d68910;
}
  
.cancel {
  background-color: #aaa;
}
  
.cancel:hover {
  background-color: #888;
}
  
.delete-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #e74c3c;
  cursor: pointer;
  padding: 0 0.5rem;
}
  
.delete-btn:hover {
  transform: scale(1.1);
}