<div class="recipe-detail">
  <form [formGroup]="recipeForm" (ngSubmit)="save()">
    <div class="top-bar">
      <button [disabled]="recipeForm.invalid" class="action-button top-action">💾 Guardar</button>
      <button routerLink="/" class="action-button cancel">❌ Cancelar</button>
    </div>
  
    <input
      type="text"
      formControlName="name"
      placeholder="Título"
      class="form-control"
      [class.invalid]="name.invalid && name.touched"
    />
    <div *ngIf="name.invalid && name.touched" class="error-message">
      {{ getNameError() }}
    </div>

    <textarea
      formControlName="description"
      placeholder="Descripción"
      class="form-control"
      [class.invalid]="description.invalid && description.touched">
    </textarea>
    <div *ngIf="description.invalid && description.touched" class="error-message">
      {{ getDescriptionError() }}
    </div>

    <input
      type="text"
      formControlName="imagePath"
      placeholder="URL de imagen"
      class="form-control"
    />

    <h3 class="ingredient-title">Ingredientes</h3>
    <div *ngFor="let ing of recipe.ingredients; let i = index" class="ingredient-row">
      <input [(ngModel)]="ing.name" placeholder="Ingrediente" class="form-control small" />
      <input [(ngModel)]="ing.amount" type="number" placeholder="Cantidad" class="form-control tiny" />
     <!--  <select [(ngModel)]="ing.unit" class="form-control tiny">
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select> -->
      <button (click)="removeIngredient(i)" class="delete-btn">🗑</button>
    </div>
  
    <button (click)="addIngredient()" class="action-button">+ Ingrediente</button>
  </form>
</div>