<div class="top-bar">
    <div class="logo">Paula Cochina</div>
  
    <!-- Botón hamburguesa (visible en móviles) -->
    <div class="hamburger" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  
    <!-- Navegación -->
    <div class="nav-links" [class.open]="isMenuOpen">
      <a routerLink="/recipes">📖 Recetas</a>
      <a routerLink="/ingredientes">🛒 Ingredientes</a>
      <a routerLink="/favoritos">❤️ Favoritos</a>
      <a (click)="confirmLogout()" class="logout-link">🚪 Cerrar sesión</a>
    </div>
  </div>
  