.recipe-card.new-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--card-bakckground-color);
    border: 2px dashed var(--orange-color);
    border-radius: 12px;
    min-height: 400px;
    max-width: 320px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .recipe-card.new-card:hover {
    transform: scale(1.02);
  }
  
  .plus-icon {
    font-size: 48px;
    color: var(--blue-pepper);
    width: 98px;
    height: 98px;
    object-fit: contain;
  }

  .new-text {
    margin-top: 8px;
    font-size: 18px;
    color: var(--blue-pepper);
    font-weight: 500;
    text-align: center;
  }