/* You can add global styles to this file, and also import other style files */

:root {
    --green-pepper: rgb(125, 200, 60);
    --red-pepper: rgb(215, 64, 59);
    --yellow-pepper: rgb(245, 199, 68);
    --blue-pepper: rgb(15, 17, 245);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.8rem;
    --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Poppins', sans-serif;
    --animation-1: 200ms;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--blue-pepper);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--yellow-pepper);
}

input,
button {
    cursor: pointer;
    font-family: var(--font-family-1);
}

button:disabled {
    opacity: .5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
