<div class="recipe-card">
    <div class="image-container">
        <img appImgBroken [customImg]="'assets/morron-azul.png'" [src]="recipe.imagePath" alt="Imagen de receta" />
        <button class="favorite-btn" (click)="toggleFavorite($event)" appHeartAnimate>
            {{ isFav ? '❤️' : '🤍' }}
        </button>
    </div>
    <h3>{{ recipe.name }}</h3>
    <p>{{ recipe.description }}</p>
    <div class="recipe-content">
      <a [routerLink]="['/recipe', recipe._id]" class="view-button">Ver receta</a>
    </div>
</div>